

// Colours
$primary: rgb(151, 108, 190);
$secondary: rgb(23, 92, 92);
$tertiary: rgb(25, 24, 26);
$border: $tertiary;


// Fonts
$font-primary: 'Play', sans-serif;
$font-secondary: 'Expletus Sans', cursive;